.center{
    width: 50%;
    margin: auto;
    border: 1px dotted green;


}
.logo{
    display: block;
    margin: auto;
    padding: 0.5em;
    width: 33%;
    height: auto;
}
.form{
    text-align: center;
    display: block;
    margin: auto;
}
.buttons{
    margin: 0.5em;
}
